* {
    margin: 0;
    padding: 0;
}



.contenedor-componente {
    display: inline-block;
    height: 755px;
    width: 1520px;
    overflow: hidden;
    background: url("https://p4.wallpaperbetter.com/wallpaper/141/158/403/simple-minimalism-gradient-wallpaper-preview.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.blocktop-create{
    width: 100%;
    background: black;
    height: 65px;
    overflow: hidden;
}

.blocktop-create h1{
    float: left;
    margin-left: 570px;
    margin-right: 420px;    
}

.contenedor-form-createpokemon {
    width: 600px;
    height: 570px;
    margin-top: 35px;
    margin-left: 20px;
    float: left;
    border: 2px solid #35E7CE;
    border-radius: 50px;
    box-shadow: 0 0 20px 0 #83F3F7;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form-error-name {
    color:crimson;
}


.contenedor-componente h1 {
    color: white;
    font-size: 40px;

}



.button-send {
    cursor: pointer;
    background-color: #82C5C7;
    border-radius: 50px;
    height: 50px;
    width: 175px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    grid-column: 1/3;
}

.button-send:disabled {
    opacity: 0.2;
    cursor: not-allowed;
}


.contenedor-componente h4 {
    color: white;
    margin-top: 17px;
    margin-left: 10px;
}

.contenedor-componente input {
    background-color: #E6E6E6;
    color: black;
    border-radius: 10px;
    margin-left: 20px;
    padding: 3px;
    padding-left: 5px;
}

.contenedor-rellenar {
    width: 300px;
    height: 95px;
}

.imagen-component-create {
    display: inline-block;
    max-width: 550px;
}

/*Boton back*/

.boton-back {
    cursor: pointer;
    font-size: 20px;
    height: 40px;
    padding: 5px;
    margin: 10px;
    font-size: 22px;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    overflow: hidden;
    transition: .3s ease all;
    position: relative;
}

.boton-back span {
    position: relative;
    z-index: 2;
    transition: .3s ease all;
}

.boton-back::after {
    content: "";
    width: 100%;
    height: 100%;
    background: crimson;
    position: absolute;
    z-index: 1;
    top: -80px;
    left:0;
    transition: .3s ease-in-out all ;

}

.boton-back:hover::after  {
    top:0
}





.contenedor-delete {
    display: flex;
    margin: 5px;
    
    padding: 10px;
    height: 40px;
    width: 30px;
    color: white;
}

.button-x-type{
    margin-left: 25px;
    border: 2px solid white;
    background-color: black;
    font-weight: bold;
    border-radius: 5px;
}



.contenedor-delete button {
    background-color: crimson;
    cursor: pointer;
}

.button-x {
    max-width: 20px;
    max-height: 70px;
    font-family: bold;
    color: black;
}



