.contenedor-searchbar{
    background-color: black;
    width: 100%;
    height:55px;
    position: fixed;
    top: 0px;
    float: left;
}

.contenedor-searchbar button {
    cursor: pointer;
    margin-left: 10px;
}


.contenedor-input-boton{
    margin: 5px;
}

.input-searchbar{
    font-size: 20px;
    margin-top: 8px;
}