.wrap-paginado{
    
}

.botones-pag-individuales{
    margin-left: 6px;
    margin-right: 6px;
    font-size: 20px;
    cursor: pointer;
}

.border-paginado{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 8px;
   
   border-radius: 8px;
   display: inline-block;
    
}