body{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.all-conteiner{
    height: 1400px;
    width: 1520px;
}

.contenedor-create-volver{
   margin-top: 50px;    
   height: 90px;
   overflow: hidden;
}

.wrap-back-button{
    float: left;
    margin-left: 75px;
    margin-right: 295px;
    
}

.back-button{
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
}

.wrap-link{
    float: left;
    min-width: 100px;
    margin-top: 0px;
    margin-left: 350px;
    margin-right: 10px;
}

/*button create*/
.button-create{
    
    align-items: center;
    justify-content: center;
    margin: 10px;
    height: 50px;
    
    font-size: 22px;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    overflow: hidden;
    transition: .3s ease all;
    position: relative;
    
}

.button-create span {
    position: relative;
    z-index: 2;
    transition: .3s ease all;
}

.button-create::after {
    content: "";
    width: 100%;
    height: 100%;
    background: crimson;
    position: absolute;
    z-index: 1;
    top: -80px;
    left:0;
    transition: .3s ease-in-out all ;

}

.button-create:hover::after  {
    top:0
}
 




/*Cards*/
.contenedor-cards{
    margin-top: 50px;
}

.individual-cards{
    max-width: 250px;
    max-height: 450px;
    display: inline-block;
    border: 1px solid white; /*1px o 0px*/
    overflow: hidden;
    margin-left :5px ;
    margin-right: 5px;
    margin-top: 0px;
    background-color: #2E2E2E;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    transition: all 400ms ease;
    border-radius: 15px;
}

.individual-cards h2{
    margin-top: 0px;
    padding-top: 2px;
    font-family: Helvetica, Arial, sans-serif;
    color: #2E2E2E;
}

.individual-cards h3{
    margin: 0px;
    font-family: Helvetica, Arial, sans-serif;
    color: #6C6C6C;
}

.individual-cards:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.5);
    transform: translateY(-3%);
}

img{
    max-width: 200px;
}

.image-individual-card{
    margin-top: 30px;
}



.filtros-conteiner{
    float: left;
    height: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filtros-conteiner h4{
    color: wheat;
    margin-top: 0px;
    margin-bottom: 0px;
}

.wrap-contenedor-filtros-alfabetico{
    margin-top: 0px;
    border: 2px solid lightgray;
    border-radius: 5px;
    height: 55px;
    width: 110px;

}

.contenedor-filtros-alfabetico{
    margin-top: 10px;
    margin-left: 27px;
    margin-right: 35px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    float: left;
}

.wrap-contenedor-filtros-fuerza{
    border: 2px solid lightgray;
    border-radius: 5px;
    height: 55px;
    width: 130px;
    margin-left: 10px;
    margin-right: 10px;
}

.contenedor-filtros-fuerza{
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 35px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    float: left;
}

.wrap-contenedor-tipos{
    border: 2px solid lightgray;
    border-radius: 5px;
    height: 55px;
    width: 100px;
    margin-left: 9px;
    margin-right: 10px;
}

.contenedor-tipos{
    margin-top: 10px;
    margin-left: 6px;
    margin-right: 6px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    float: left;
}

.wrap-contenedor-createdatabase-createforus{
    border: 2px solid lightgray;
    border-radius: 5px;
    height: 55px;
    width: 110px;
    margin-left: 5px;
    margin-right: 5px;
}

.contenedor-createdatabase-createforus{
    margin-top: 10px;
    margin-left: 11px;
    margin-right: 35px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    float: left;
}

.link-line{
    text-decoration: none;
}

.waiting-message{
    color: whitesmoke;
    margin-top: 200px;
}

.wrap-divisor {
    background-color: whitesmoke;   
}

.wra-ind-image{
    background-color: black;
}





