/*CSS PURO*/

.switch {
    background-color: #343D5B;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;

    margin-top: 14px;
}

.switch::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #F1F1F1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3 ease all;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .2);
}

.switch.active {
    background: orange;
    color: #000;
}

.switch.active::after {
    right: 0;
    left: unset;

}


.switch span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff;
}

.wrap-botton-night{
    float: left;
}

/* change de  */

.all-conteiner.active {
    background: url("https://img.freepik.com/vector-premium/fondo-negro-degradado-lineas-onduladas_23-2149159605.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;

}

.all-conteiner.active .wrap-divisor {
    background-color: black;
}

.all-conteiner.active .filtros-conteiner h4{
    color: darkgrey;
}

.all-conteiner.active .individual-cards h2{
    color: lightgray;
}



/* create */

.contenedor-componente.active {
    background: url("https://img.freepik.com/vector-premium/fondo-negro-degradado-lineas-onduladas_23-2149159605.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.contenedor-componente.active .contenedor-form-createpokemon {
    border: 2px solid #5C5C5C;
    box-shadow: 0 0 20px 0 lightgray;
}

.contenedor-componente.active .blocktop-create h1{
    color: #999999;   
}

.contenedor-componente.active input{
    background-color: #262626;
    color: lightgray;
}


/* Details */

.wrap-all.active{
    background: url("https://img.freepik.com/vector-premium/fondo-negro-degradado-lineas-onduladas_23-2149159605.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;

}





