.wrap-all {
    height: 740px;
    min-width: 1200px;
}

.wrap-card-detail {
    min-width: 800px;
    max-height: 550px;
    display: flex;
    border: 2px solid black;
    overflow: hidden;
    margin-top: 100px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: black;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease;
    color: aqua;
    text-decoration: none;
    border-radius: 20px;
}

.wrap-card-detail:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    transform: translateY(-3%);
}


.name-types {
    margin-top: 0px;
    background-color: white;
    padding: 75px 3px 45px 10px;
    color:#2E2E2E;
    min-width: 200px;
}

.name-h2{
    font-size: 36px;    
    margin-right: 15px;
}

.wrap-type-h3{
    min-height: 100px;
    margin-right: 20px;
    font-size: 21px;
    color: lightblue;
}
.wrap-type-h3 h3{ /*xaxaaxaa*/
    color: aquamarine;
}

.type-h3{
    font-size: 25px;
    color: green;
}





.wrap-card-detail h3 {
    color: gainsboro;   
    font-size: 24px;
}

.wrap-card-detail h4 {
     font-size: 18px;
}

.imagen-detalle {
    min-height: 300px;
    max-width: 400px;
}

.wrap-letters {
    display: flex;
    margin: 5px;
    padding: 5px;
    min-height: 370px;
    max-width: 530px;
}

.primera-fila {
    margin-right: 40px;
    margin-top: 71px;
    margin-left: 40px;
}

.segunda-fila {
    margin-right: 40px;
    margin-top: 71px;
}


.tercera-fila {
    margin-top: 71px;   
}


.button-details-back {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    height: 50px;
    width: 80px;
    font-size: 22px;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    overflow: hidden;
    transition: .3s ease all;
    position: relative;
    
}


.button-details-back span {
    position: relative;
    z-index: 2;
    transition: .3s ease all;
}


.button-details-back::after {
    content: "";
    width: 100%;
    height: 100%;
    background: crimson;
    position: absolute;
    z-index: 1;
    top: -80px;
    left:0;
    transition: .3s ease-in-out all ;

}

.button-details-back:hover::after  {
    top:0
}
 
 


