.contenedor-cards{
    margin-top: 150px;
}

.individual-cards{
    padding: 10px;
    min-width: 200px;
    min-height: 350px;
    display: inline-block;
    border: 5px solid black;
    margin-left :5px ;
    margin-right: 5px;
    background-color: white;
}

img{
    max-width: 200px;
}

.contenedor-filtros-alfabetico{
    margin-top: 60px;
}

.contenedor-filtros-fuerza{
    margin-top: 60px;
}

.intento-intento{
    margin-top: 60px;
}